  	<form action=<%="/edit/" + post.id%> method="post">
  		<input type="string" name="title" value=<%=post.title%>>
  		<input type="string" name="post" value=<%=post.content%>>
  		<input type="submit" name="submit">
  	</form>